header {
    
    background-image: url(pexels-francesco-ungaro-97492.jpg);
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ce89d9;
    padding-bottom: 10px;
    height: 50px;
}

.recipe-img {
    /* max-width: 100%; */
    /* height: auto; */
    border-radius: 20px;
}

.recipe2 {
    background: linear-gradient(250deg,black,maroon,purple);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-color: #ce89d9;    
}

footer {
    padding: 10px;
    text-align: center;
    margin-top: 300px;

}
.asd{
    height: 316px;
    width: 100%;
    display: inline-flex;
    margin-left: 665px;
    padding-top: 0px;
    background-size: cover;
}
p li{
    flex-direction: row;
}
h3{
    text-transform: uppercase;
}
p{
    line-height: 35px;
    text-align: left;
    color: white;
}
ul {
    line-height: 40px;
}
.container{
    width: 200px;
    height: 80px;
    background-color:transparent;
    border-color: black;
    margin-left:850px ;
    border-radius: 20px;
    
}
h1{
    text-align: center;
    font-size: 45px;
    padding-left: 30px;
    color: orange;
}
.asd-border{
    border-radius: 100px solid;
}
h2 {
    text-align: center;
}
.adf2{ 
    list-style-type: none;
    min-height: 60px;
    font-size: 15px;
    margin: 20px;
    display: flex;
    margin-left: 480px;
    transition: 0.5 ease;
    font-size: 18px;
}
ul li a {
    display: flex;
    text-align: center;
    color: rgb(255, 200, 98);
    padding: 5px 40px;
    margin-top: 1px;
    margin-right: 40px;
    text-decoration: none;

}
ul li a:hover{
    background-color: white;
    color:red;
}
li {
    color: yellow;
}



